
# server & credientials
server: 'localhost:50051'
auth_token: 'zxcasd123'
use_https: false
ssl_root_ca: 'path/to/rootCA.pem'

nsjail_path: '/usr/local/bin/nsjail'
testdata_path: '/iruka/testdata'
user_store_path: '/tmp'

